# Ignore all .txt files except requirements.txt
*.txt
!requirements.txt

# Ignore Excel files
*.xlsx

# Ignore virtual environments
venv/
vpy/

# Ignore VSCode settings
.vscode/

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore sensitive config
.config.yaml

# Ignore outputs or temp processing folders
transform_data/done/
transform_data/prueba_saltos_validos_GPS.py
transform_data/prueba_saltos_validos_1.py
transform_data/stride_measurement_old.py
transform_data/stride_measurement_complete.py

# Include output folder explicitly
!transform_data/out_transform_data/
!transform_data/out_transform_data/dat_2024_tabuenca_left_60_stride.xlsx
