# Ignore all .txt files except requirements.txt
*.txt
!requirements.txt

# Ignore Excel files
*.xlsx

# Ignore virtual environments
venv/
vpy/

# Ignore VSCode settings
.vscode/

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore sensitive config
.config.yaml

# Ignore outputs or temp processing folders
transform_data/done/

# Include output folder explicitly
!transform_data/out_transform_data/
