# Ignora todos los archivos .txt excepto requirements.txt
*.txt
!requirements.txt

# Ignora archivos Excel
*.xlsx

# Ignora entornos virtuales
venv/
vpy/

# Ignora configuraciones de VSCode
.vscode/

# Ignora bytecode
*.pyc

# Ignora configuración sensible
.config.yaml

# Ignora salidas o resultados
out/
